# Requirements for sensorutils

## Caution!! ##
# This file has been created for pip. So, in "conda", you cannnot use this file.

# For running sensorutils
numpy>=1.19
pandas>=1.2
scipy>=1.6

# For building documentations
mkdocs==1.2.1
mkdocs-material==7.1.7
python-markdown-math==0.8
mkdocstrings==0.15.2
pytkdocs[numpy-style]==0.11.1
